/.vscode
/Project/blender_sp
/Project/test.py
/Include
/Lib
/pyvenv.cfg
/Scripts
/Project/Rendered Images
/Thales.zip
/Thales
__pycache__/
*.py[cod]
*$py.class
/Modules/Test_stuff
Launch_Thales.spec
build
dist